<div id="home-content">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2  l6 offset-l3">
        <br><h5 class="blue-text center peso-7">Sweet Leads - Projeto de BI</h5><br>
        <%= render "/pages/login" %>
      </div>
    </div>
  </div>
</div>