@font-face {
    font-family: 'misery_gymnast';
    src: font-url('misery_gymnast/MiseryGymnast.eot');
    src: font-url('misery_gymnast/MiseryGymnast.eot?#iefix') format('embedded-opentype'),
        font-url('misery_gymnast/MiseryGymnast.woff2') ,
        font-url('misery_gymnast/MiseryGymnast.woff') ,
        font-url('misery_gymnast/MiseryGymnast.ttf') ,
        font-url('misery_gymnast/MiseryGymnast.svg#MiseryGymnast') format('svg');
    font-weight: normal;
    font-style: normal;
}